/* CSS Document */

/* FONTS */
@font-face {
    font-family: 'eenfont';
    src: url('../fonts/eenfont.woff2') format('woff2'),
        url('../fonts/eenfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* ALGEMENE STYLING */
*,
*::after,
*::before {
    box-sizing: border-box;
}


:root {
    --basisKleur: #6c3bff;
    --basisKleurPopUp: white;
    --kleurAchtergrondBody: #eee;
    --schaduw1: 0px 2px 3px 0px grey;
    --schaduw2: 0px 3px 5px 0px grey;
    --schaduw3: 0px 2px 2px 0px grey;
    --kleurFooter: #e0e0e0;
    --kleurFooterTekst: black;
}

@media (prefers-color-scheme:dark) {
    :root {
        --basisKleur: #212121;
        --basisKleurPopUp: #a1a1a1;
        --kleurAchtergrondBody: #333333;
        --schaduw1: 0px 2px 3px 0px black;
        --schaduw2: 0px 3px 5px 0px black;
        --schaduw3: 0px 2px 2px 0px black;
        --kleurFooter: #5c5c5c;
        --kleurFooterTekst: white;
    }
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: eenfont, sans-serif;
    color: #111;
    background-color: var(--kleurAchtergrondBody);
    margin-bottom: 5em;
}

/* Logo */
body header section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    font-family: paytone one, sans-serif;
    font-size: 30px;
    box-shadow: var(--schaduw1);
    background-color: var(--basisKleur);
    color: white;
}

/* Section zoekbalk*/
body main section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

/* Zoekbalk zelf*/
body main section:nth-of-type(1) input {
    height: 2.2em;
    width: 65%;
    max-width: 500px;
    border: none;
    margin-top: -1em;
    box-shadow: var(--schaduw1);
    border-radius: 2em;
    padding-left: 2em;
}

/* Zoekbalk placeholder */
/* Bron: https://www.w3schools.com/howto/howto_css_placeholder.asp */
body main section:nth-of-type(1) input::placeholder {
    padding-left: .7em;
}

body main section:nth-of-type(1) input {
    padding-left: 1em;
}


/* Alle kleurtjes van filteren naast elkaar */
body main section aside {
    display: flex;
    justify-content: center;
}

/* Standaard radio buttons*/
/* Bron: https://stackoverflow.com/questions/4253920/how-do-i-change-the-color-of-radio-buttons*/
body main section aside input {
    margin-top: -1em;
    -webkit-appearance: none;
    appearance: none;
}


/* Radio button 1 - oranje */
body main section aside input:nth-of-type(1)::after {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #ff5e00;
    content: '';
    display: inline-block;
    box-shadow: var(--schaduw2);
    transition: .6s;
    cursor: pointer;
}

body main section aside input:nth-of-type(1):checked::after {
    height: 2em;
    border-radius: 25%;
}


/* Radio button 2 - geel */
body main section aside input:nth-of-type(2)::after {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #ffbf29;
    content: '';
    display: inline-block;
    box-shadow: var(--schaduw2);
    transition: .6s;
    cursor: pointer;
}

body main section aside input:nth-of-type(2):checked::after {
    height: 2em;
    border-radius: 25%;
}


/* Radio button 3 - groen */
body main section aside input:nth-of-type(3)::after {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #51b846;
    content: '';
    display: inline-block;
    box-shadow: var(--schaduw2);
    transition: .6s;
    cursor: pointer;
}

body main section aside input:nth-of-type(3):checked::after {
    height: 2em;
    border-radius: 25%;
}


/* Radio button 4 - blauw */
body main section aside input:nth-of-type(4)::after {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #389fff;
    content: '';
    display: inline-block;
    box-shadow: var(--schaduw2);
    transition: .6s;
    cursor: pointer;
}

body main section aside input:nth-of-type(4):checked::after {
    height: 2em;
    border-radius: 25%;
}


/* Radio button 5 - paars */
body main section aside input:nth-of-type(5)::after {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #c642ff;
    content: '';
    display: inline-block;
    box-shadow: var(--schaduw2);
    transition: .6s;
    cursor: pointer;
}

body main section aside input:nth-of-type(5):checked::after {
    height: 2em;
    border-radius: 25%;
}


/* Radio button 6 - rood */
body main section aside input:nth-of-type(6)::after {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    content: '';
    background-color: red;
    display: inline-block;
    box-shadow: var(--schaduw2);
    transition: .6s;
    cursor: pointer;
}

body main section aside input:nth-of-type(6):checked::after {
    height: 2em;
    border-radius: 25%;
}


/* Radio button 7 - zwart wit */
body main section aside input:nth-of-type(7)::after {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    content: '';
    display: inline-block;
    background-image: linear-gradient(200deg,
            black 50%, white 50%);
    background-size: 100% 100%;
    color: transparent;
    background-clip: text;
    box-shadow: var(--schaduw2);
    transition: .6s;
    cursor: pointer;
}

body main section aside input:nth-of-type(7):checked::after {
    height: 2em;
    border-radius: 25%;
}


/* Radio button 8 - alle kleuren */
body main section aside input:nth-of-type(8)::after {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    content: '';
    display: inline-block;
    background-image: linear-gradient(14deg,
            #ff3333,
            #ffb833,
            #1df553,
            #1deef5,
            #1d77f5,
            #ff3333,
            #ffb833,
            #1df553,
            #1deef5,
            #1d77f5,
            #ff3333,
            #ffb833,
            #1df553);
    background-size: 200% 200%;
    color: transparent;
    background-clip: text;
    box-shadow: var(--schaduw2);
    transition: .6s;
    cursor: pointer;
}

body main section aside input:nth-of-type(8):checked::after {
    height: 2em;
    border-radius: 25%;
}


/* Lijst met afbeeldingen*/
/* Bron hulp: https://www.youtube.com/watch?v=bam83Xv4VMA */
.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    margin-right: 1.4em;
    margin-left: .2em;
    grid-gap: 1em;
}

@media screen and (max-width: 374px) {
    .list {
        margin-right: 1.4em;
        margin-left: -1.4em;
    }
}

li {
    list-style: none;
    position: relative;
    overflow: hidden;
    padding: .2em;
}

img {
    width: 100%;
    border-radius: 1em;
    box-shadow: var(--schaduw2);
}

/*
.card {
    position: relative;
    transition: 1s;
    overflow: hidden;
}

body ul .card p {
    position: absolute;
    width: 58%;
    left: 20%;
    top: -.5em;
    margin: 0;
    padding: .6em;
    text-align: center;
    color: white;
    background-color: var(--basisKleur);
    box-shadow: 0px 2px 7px 0px black;
    border-radius: 0em 0em 1em 1em;
}
*/


body ul p {
    position: absolute;
    width: 58%;
    left: 20%;
    top: -.6em;
    margin: 0;
    padding: .6em;
    margin-top: .8em;
    text-align: center;
    color: white;
    background-color: var(--basisKleur);
    box-shadow: 0px 2px 7px 0px black;
    border-radius: 0em 0em 1em 1em;
}

/* Footer */
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .9em;
    background-color: var(--kleurFooter);
    text-align: center;
    color: var(--kleurFooterTekst);
    opacity: 100%;
    font-family: Gloria Hallelujah, sans-serif;
    font-size: 7.2px;
}


/* Section knoppen sorteren en opgeslagen */
/* Bron hulp: https://stackoverflow.com/questions/37226787/align-content-not-working-on-flex-items/52621741 */
#knoppen {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 1em;

}

/* Knop voor pop-up opgeslagen afbeedlingen - grijs */
#opgeslagenKnop {
    width: 9em;
    height: 2.5em;
    border-radius: 1em;
    box-shadow: var(--schaduw3);
    border: none;
    background-color: white;
    display: block;
    cursor: pointer;
}

.jaa {
    width: 9em;
    height: 2.5em;
    border-radius: 1em;
    box-shadow: var(--schaduw3);
    border: none;
    background-color: grey;
    animation: opgeslagenKnop 3s;
    display: block;
    animation-iteration-count: 1;
}

@keyframes opgeslagenKnop {
    0% {
        color: white;
    }

    50% {
        color: white;
        background-color: #6c3bff;
    }

    100% {
        color: black;
    }
}




/* Knop voor sorteren */
.sort {
    width: 9em;
    height: 2.5em;
    box-shadow: var(--schaduw3);
    border: none;
    background-color: white;
    font-weight: bolder;
}

.sort:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.sort:active {
    box-shadow: inset 0px 1px 2px 0px grey;
}

.sort.asc,
.sort.desc {
    font-weight: bold;
}

.sort.asc::after {
    content: "(A tot Z)";
    padding-left: .20em;
    font-weight: 100;
    color: #6c3bff;
}

.sort.desc::after {
    content: "(Z tot A)";
    padding-left: .20em;
    font-weight: 100;
    color: #6c3bff;
}


/* Knop afbeelding opslaan - hartje */
body ul li button {
    position: absolute;
    width: 1.9em;
    height: 1.9em;
    left: 87%;
    top: 77%;
    padding-top: .1em;
    text-align: center;
    color: white;
    background-color: var(--basisKleur);
    font-size: 20px;
    border-radius: .5em .5em .5em .5em;
    box-shadow: 0px 2px 7px 0px black;
    border: none;
}

body ul li button.toegevoegd {
    position: absolute;
    width: 1.9em;
    height: 1.9em;
    left: 87%;
    top: 77%;
    padding-top: .1em;
    text-align: center;
    color: red;
    background-color: var(--basisKleur);
    font-size: 20px;
    border-radius: .5em .5em .5em .5em;
    box-shadow: 0px 2px 7px 0px black;
    border: none;
    display: block;
}


/* TEST TEST TEST KNOP*/

.buttonHart {
    position: absolute;
    width: 1.9em;
    height: 1.9em;
    left: 87%;
    top: 77%;
    padding-top: .1em;
    text-align: center;
    color: white;
    background-color: var(--basisKleur);
    font-size: 20px;
    border-radius: .5em .5em .5em .5em;
    box-shadow: 0px 2px 7px 0px black;
    border: none;
}

.buttonHartToegevoegd {
    position: absolute;
    width: 1.9em;
    height: 1.9em;
    left: 87%;
    top: 77%;
    padding-top: .1em;
    text-align: center;
    color: red;
    background-color: var(--basisKleur);
    font-size: 20px;
    border-radius: .5em .5em .5em .5em;
    box-shadow: 0px 2px 7px 0px black;
    border: none;
    display: block;
}


/* Pop-up scherm opgeslagen */
.vierkantvormgeving {
    background-color: var(--basisKleurPopUp);
    width: 100%;
    position: relative;
    display: none;
    position: fixed;
    left: 0;
    top: -10em;
    height: 100%;
    overflow: auto;
    margin-top: 8.3em;
}

.list2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    margin-right: 1.4em;
    margin-left: .2em;
    grid-gap: 1em;
}


@media screen and (max-width: 374px) {
    .list2 {
        margin-right: 1.4em;
        margin-left: -1.92em;
    }
}

/* Kruisje om pop-up scherm te sluiten */
span {
    position: absolute;
    right: .7em;
    top: .88em;
    color: #6c3bff;
    font-size: 3em;
    cursor: pointer;
}

span:hover {
    color: #5a31d6;
}

/* Titel pop-up scherm */
h2 {
    font-family: paytone one, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: .5em;
    font-size: 30px;
}

/* Voor JavaScript pop-up opgeslagen */
.block {
    display: block;
}



/* Filteren op kleur - nodig voor JavaScript */
/* Bron: oefening les sorteren */
ul.oranje li:not(.oranje) {
    display: none;
}

ul.geel li:not(.geel) {
    display: none;
}

ul.groen li:not(.groen) {
    display: none;
}

ul.blauw li:not(.blauw) {
    display: none;
}

ul.paars li:not(.paars) {
    display: none;
}

ul.rood li:not(.rood) {
    display: none;
}

ul.zwartwit li:not(.zwartwit) {
    display: none;
}


/* Vormgeving van de lijst met afbeeldingen wanneer met een kleur is gefilterd */
.oranje {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 1em;
    margin-right: .6em;
    margin-left: -.7em;
}

.rood {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 1em;
    margin-right: .6em;
    margin-left: -.7em;
}

.groen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 1em;
    margin-right: .6em;
    margin-left: -.7em;
}

.blauw {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 1em;
    margin-right: .6em;
    margin-left: -.7em;
}

.paars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 1em;
    margin-right: .6em;
    margin-left: -.7em;
}

.zwartwit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 1em;
    margin-right: .6em;
    margin-left: -.7em;
}

.alle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 1em;
    margin-right: .6em;
    margin-left: -.7em;
}

.geel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 1em;
    margin-right: .6em;
    margin-left: -.7em;
}




/* Pop-up afbeelding groot*/
/* Bron: https://www.youtube.com/watch?v=4SQXOA8Z-lo */

/*
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    margin-right: 1.4em;
    margin-left: .2em;
    grid-gap: 1em;
}
*/

.img-container {
    overflow: hidden;
}

/*
.img-container img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}
*/

/*
.img-container img:hover {
    transform: scale(1.2);
    border-radius: 20em;
}
*/

.modal {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(35px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}

.modal.open {
    opacity: 1;
    pointer-events: all;
}

.full-img {
    position: absolute;
    width: 80%;
    max-width: 800px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
}

.full-img.open {
    transform: translate(-50%, -50%) scale(1);
}

.modal p {
    color: black;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.kruisjeNep {
    position: absolute;
    right: .7em;
    top: .88em;
    color: #5a31d6;
    font-size: 3em;
    pointer-events: none;
}






/* knop opslaan bij afbeelding */

.buttonhart {
    background-color: red;
}










html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}





/* Pop-up afbeelding groot */
/*
.popupAfbeeldingGroot {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    color: red;
    z-index: 1;
    overflow: auto;
    display: none;
}

.popupAfbeeldingGrootContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
}

.popupAfbeeldingGrootFoto {
    width: 100%;
    max-width: 800px;
}
*/
