/* CSS Document */

/* FONTS */
@font-face {
    font-family: 'eenfont';
    src: url('../fonts/eenfont.woff2') format('woff2'),
        url('../fonts/eenfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* ALGEMENE STYLING */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: black;
    font-weight: bold;
    color: #111;
    text-align: center;
    background-image: var(--kleurAchtergrondBody2);
    /*    background-color: var(--kleurAchtergrondBody);*/
}

:root {
    --kleurChocopasta: #491D0E;
    --kleurZwart: #000000;
    --kleurRood: #DE2619;
    --kleurAchtergrondPhilips: #1c1c1c;
    --kleurWit: #fcfcfc;
    --width: 89vh;
    --height: 79vmin;
    --max-width: 85vw;
    --kleurAchtergrondBody2: linear-gradient(180deg, #ababab, #333333);
    --marginLeftSection: 50%;
    /*    --kleurAchtergrondBody: #ababab;*/
    /*    --kleurAchtergrond: #ededed;*/
}

@media (prefers-color-scheme:dark) {
    :root {
        --kleurAchtergrondBody2: linear-gradient(180deg, #333333, #333333);
        --kleurWit: #dbdbdb;
    }
}

h1 {
    margin-top: 1em;
    margin-bottom: -0.1em;
    font-family: arial, sans-serif;
    font-weight: 900;
    color: var(--kleurWit);
}

p {
    font-family: Gloria Hallelujah, sans-serif;
    color: var(--kleurWit);
    margin-bottom: -3vw;
    font-size: 10px;
}

/* Bron font-size: hulp gehad van docent Sanne */
section:first-of-type {
    transform: translateX(-50%);
    width: var(--width);
    height: var(--height);
    max-width: var(--max-width);
    margin-left: var(--marginLeftSection);
    font-size: min(4vw, 1.9em);
    background-image: linear-gradient(var(--kleurWit) 50%, #ffef91 30em);
    position: relative;
}

/* Bron font-size: hulp gehad van docent Sanne */
section:last-of-type {
    transform: translateX(-50%);
    width: var(--width);
    height: var(--height);
    max-width: var(--max-width);
    margin-left: var(--marginLeftSection);
    margin-top: 9vw;
    margin-bottom: 6vw;
    background: var(--kleurAchtergrondPhilips);
    font-size: min(3vw, 1.5em);
    position: relative;
}






/* BRAND STYLING - NUTELLA */

/* H2 section 1*/
body section:nth-of-type(1) h2 {
    font-family: 'heebo', sans-serif;
    letter-spacing: -.04em;
    font-size: 3em;
    line-height: 1em;
}

/* LETTERS */
/* Letter N + after bedrijf van Nutella met animatie */
/* Animation timing function gemaakt met: https://matthewlein.com/tools/ceaser */
body section:nth-of-type(1) h2 span:nth-of-type(1) {
    color: var(--kleurZwart);
    animation: letterNutellaA 3s 1 alternate, LetterMetChocopastaZwart 7s;
    animation-timing-function: cubic-bezier(0.05, 10, 10, 1);
    display: inline-block;
    position: relative;
}

body section:nth-of-type(1) h2 span:nth-of-type(1)::after {
    content: "FERRERO";
    display: block;
    font-family: catamaran, sans-serif;
    font-size: 23%;
    position: absolute;
    top: 54%;
    animation: bedrijf 2s forwards;
    animation-delay: 13.5s;
    color: transparent;
}

@keyframes bedrijf {
    0% {
        color: transparent;
        letter-spacing: -.7em;
    }

    30% {
        /*        color:  #e3bc68;*/
        color: var(--kleurChocopasta);
        letter-spacing: 0.1em;
    }

    100% {

        color: var(--kleurZwart);
        letter-spacing: 0em;
    }
}

/* Letter U */
body section:nth-of-type(1) h2 span:nth-of-type(2) {
    color: var(--kleurRood);
    animation: letterNutellaA 3s 1, LetterMetChocopastaRood 7s;
    animation-timing-function: cubic-bezier(0.05, 0, 0, 1);
    display: inline-block;
    margin-top: 0.5em;
    animation-delay: 1s;
}

/* Letter T */
body section:nth-of-type(1) h2 span:nth-of-type(3) {
    color: var(--kleurRood);
    animation: letterNutellaA 3s 1, LetterMetChocopastaRood 7s;
    animation-timing-function: cubic-bezier(0.05, 0, 0, 1);
    display: inline-block;
    animation-delay: 2s;
}

/* Letter E */
body section:nth-of-type(1) h2 span:nth-of-type(4) {
    color: var(--kleurRood);
    animation: letterNutellaA 3s 1, LetterMetChocopastaRood 7s;
    animation-timing-function: cubic-bezier(0.05, 0, 0, 1);
    display: inline-block;
    animation-delay: 3s
}

/* Letter L */
body section:nth-of-type(1) h2 span:nth-of-type(5) {
    color: var(--kleurRood);
    animation: letterNutellaA 3s 1, LetterMetChocopastaRood 7s;
    animation-timing-function: cubic-bezier(0.09, 0, 0, 1);
    display: inline-block;
    animation-delay: 4s
}

/* Letter tweede L */
body section:nth-of-type(1) h2 span:nth-of-type(6) {
    color: var(--kleurRood);
    animation: letterNutellaA 3s 1, LetterMetChocopastaRood 7s;
    animation-timing-function: cubic-bezier(0.05, 0, 0, 1);
    display: inline-block;
    animation-delay: 5s
}

/* Letter A */
body section:nth-of-type(1) h2 span:nth-of-type(7) {
    color: var(--kleurRood);
    animation: letterNutellaA 4s 1, LetterMetChocopastaRood forwards 7s;
    animation-timing-function: cubic-bezier(0.05, 0, 0, 1);
    display: inline-block;
    animation-delay: 6s;
    position: relative;
}

/* Animatie zwarte letter deel met chocopasta */
@keyframes LetterMetChocopastaZwart {
    0% {
        background-image: none;
    }

    10% {
        background-image:
            linear-gradient(180deg,
                black 45% 0%,
                #491D0E 40% 67%);
        background-size: 100% 100%;
        color: black;
        -webkit-background-clip: text;
    }

    100% {
        background-image:
            linear-gradient(180deg,
                black 45% 0%,
                #491D0E 40% 67%);
        color: transparent;
        -webkit-background-clip: text;
    }
}

/* Animatie rode letters deel met chocopasta */
@keyframes LetterMetChocopastaRood {
    0% {
        background-image: none;
    }

    10% {
        background-image:
            linear-gradient(180deg,
                #DE2619 45% 0%,
                #491D0E 40% 67%);
        background-size: 100% 100%;
        background-clip: text;
        color: #DE2619;
        -webkit-background-clip: text;
    }

    100% {
        background-image:
            linear-gradient(180deg,
                #DE2619 45% 0%,
                #491D0E 40% 67%);
        color: transparent;
        -webkit-background-clip: text;
    }
}

/* De chocopasta beneden vierkant */
body section div:nth-of-type(1) {
    position: absolute;
    width: 100%;
    height: 14%;
    bottom: 0;
    z-index: 2;
    background-color: var(--kleurChocopasta);
}

/* De chocopasta beneden om 3D te maken */
/* Clip-path gemaakt met: https://bennettfeely.com/clippy/ */
body section div:nth-of-type(2) {
    position: absolute;
    clip-path: polygon(10% 68%, 10% 68%, 19% 66%, 32% 75%, 45% 69%, 56% 69%, 66% 66%, 79% 75%, 89% 70%, 92% 74%, 100% 99%, -1% 100%);
    width: 100%;
    height: 16%;
    top: 70.4%;
    z-index: -1;
    background-color: #593125;
}

/* Animatie letters vallen */
/* Bron tweede transform: hulp gehad van docent Sanne */

/* var(--height) is de hoogte van de section */
/* * 0.86 de witte ruimte - de chocalade is 14% hoog */

/* - .5em - de padding in h2 - de extra ruimte boven de letters */

/* - 1em - de line-height van de letters */
/* + .1em - de witte onder normale letters in een regel - voor de stok van een p bijvoorbeeld */
/* + .45em - de hoogte van chocolade in de letter */
@keyframes letterNutellaA {

    0% {
        transform: translatey(0);
        animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }

    30% {
        transform: translateY(calc(var(--height) * 0.86 - .5em - 1em + .1em + .45em));
        animation-timing-function: cubic-bezier(0.895, 0.030, 0.785, 0.220);
    }

    90% {
        transform: translatey(0em) scale(1, 2.5);
    }

    100% {
        transform: translatey(0em) scale(1, 1);
    }
}

/* Animatie letter A after */
/* Clip-path gemaakt met: https://bennettfeely.com/clippy/ */
body section:nth-of-type(1) h2 span:nth-of-type(7)::after {
    content: "";
    position: absolute;
    background-color: var(--kleurChocopasta);
    animation: a 20s infinite alternate;
    animation-delay: 8.0s;
    left: -.17em;
    top: .35em;
}

@keyframes a {
    0% {
        clip-path: polygon(90% 30%, 71% 26%, 31% 18%, 22% 28%, 8% 32%, 35% 48%, 46% 73%, 40% 83%, 38% 93%, 50% 92%, 63% 51%, 68% 40%, 84% 44%, 91% 39%);
        width: .9em;
        height: 1.1em;
        top: .35em;
    }

    50% {
        clip-path: polygon(90% 30%, 71% 26%, 31% 18%, 22% 28%, 8% 32%, 15% 48%, 54% 66%, 67% 81%, 76% 83%, 75% 73%, 63% 57%, 68% 40%, 84% 44%, 91% 39%);
        /*        width: 1em;*/
        height: 1.3em;
        top: .35em;
    }

    100% {
        clip-path: polygon(90% 30%, 71% 26%, 31% 18%, 22% 28%, 8% 32%, 62% 60%, 57% 76%, 53% 93%, 70% 97%, 86% 87%, 78% 62%, 77% 47%, 84% 44%, 88% 46%);
        width: .9em;
        height: 1.3em;
        top: .35em;
    }
}






/* BRAND STYLING - PHILIPS */

/* H2 section 2 */
body section:nth-of-type(2) h2 {
    font-family: 'heebo', sans-serif;
    letter-spacing: -.1em;
    font-size: 5em;
}

/* Letter P */
body section:nth-of-type(2) h2 span:nth-of-type(1) {
    color: var(--kleurWit);
    display: inline-block;
    margin-top: 0.5em;
    animation: p 2s, uit 4s;
    animation-delay: 0s, 15s;
    animation-fill-mode: forwards;
    /*        text-shadow: 0 -0.08em 0 #cfcfcf;*/
}

/* Animatie letter P */
@keyframes p {

    0% {
        color: white;
    }

    50% {
        color: #0081C4;
        text-shadow: 0 0 0 #0081C4, 0 0 0.1em #0081C4, 0 0 0.5em #0081C4;
        transform: scale(1.3, 1.3);
    }

    75% {
        text-shadow: 0 0 0 #0081C4, 0 0 0.9em #0081C4, 0 0 0.5em #0081C4;
    }

    100% {
        color: #0081C4;
        text-shadow: 0 0 0 #0081C4, 0 0 0.4em #0081C4, 0 0 0.5em #0081C4;
    }
}

/* Letter H */
body section:nth-of-type(2) h2 span:nth-of-type(2) {
    color: var(--kleurWit);
    display: inline-block;
    margin-top: 0.5em;
    animation: h 1s, uit 4s;
    animation-fill-mode: forwards;
    animation-delay: 1s, 15s;
    text-shadow:
        /*        0 -0.08em 0 #cfcfcf;*/
}

/* Animatie Letter H */
@keyframes h {

    0% {
        color: white;
    }

    100% {
        color: #F7E834;
        text-shadow: 0 0 0 #F7E834, 0 0 0.4em #F7E834, 0 0 0.5em #F7E834;
    }
}

/* Letter I */
body section:nth-of-type(2) h2 span:nth-of-type(3) {
    color: var(--kleurWit);
    display: inline-block;
    margin-top: 0.5em;
    animation: i 1s, uit 4s;
    animation-fill-mode: forwards;
    animation-delay: 1.3s, 15s;
    text-shadow:
        /*        0 -0.08em 0 #cfcfcf;*/
}

/* Animatie letter I */
@keyframes i {

    0% {
        color: white;
    }

    100% {
        color: #00EF61;
        text-shadow: 0 0 0 #00EF61, 0 0 0.4em #00EF61, 0 0 0.5em #00EF61;
    }
}

/* Letter L */
body section:nth-of-type(2) h2 span:nth-of-type(4) {
    color: var(--kleurWit);
    display: inline-block;
    margin-top: 0.5em;
    animation: l 1s, uit 4s;
    animation-fill-mode: forwards;
    animation-delay: 1.6s, 15s;
    text-shadow:
        /*        0 -0.08em 0  #cfcfcf;*/
}

/* Animatie letter L */
@keyframes l {

    0% {
        color: white;
    }

    100% {
        color: #B2029D;
        text-shadow: 0 0 0 #B2029D, 0 0 0.4em #B2029D, 0 0 0.5em #B2029D;
    }
}

/* Letter tweede I */
body section:nth-of-type(2) h2 span:nth-of-type(5) {
    color: var(--kleurWit);
    display: inline-block;
    margin-top: 0.5em;
    animation: i2 1s, uit 4s;
    animation-fill-mode: forwards;
    animation-delay: 1.9s, 15s;
    text-shadow:
        /*        0 -0.08em 0 #cfcfcf;*/
}

/* Animatie letter tweede I */
@keyframes i2 {

    0% {
        color: white;
    }

    100% {
        color: #FF1A30;
        text-shadow: 0 0 0 #FF1A30, 0 0 0.4em #FF1A30, 0 0 0.5em #FF1A30;
    }
}

/* Letter tweede P */
body section:nth-of-type(2) h2 span:nth-of-type(6) {
    color: var(--kleurWit);
    display: inline-block;
    margin-top: 0.5em;
    animation: p2 1s, uit 4s;
    animation-fill-mode: forwards;
    animation-delay: 2.2s, 15s;
    text-shadow:
        /*		0 -0.08em 0 #cfcfcf;*/
}

/* Animatie letter tweede P */
@keyframes p2 {

    0% {
        color: white;
    }

    100% {
        color: #FF941F;
        text-shadow: 0 0 0 #FF941F, 0 0 0.4em #FF941F, 0 0 0.5em #FF941F;
    }
}

/* letter S */
body section:nth-of-type(2) h2 span:nth-of-type(7) {
    color: var(--kleurWit);
    margin-top: 0.5em;
    animation: s 1s, uit 4s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s, 15s;
    text-shadow:
        /*		0 -0.08em 0  #cfcfcf;*/
}

/* Animatie letter S */
@keyframes s {

    0% {
        color: white;
    }

    100% {
        color: #FF43E4;
        text-shadow: 0 0 0 #FF43E4, 0 0 0.4em #FF43E4, 0 0 0.5em #FF43E4;
    }
}

/* letter S after */
body section:nth-of-type(2) h2 span:nth-of-type(7)::after {
    content: "hue";
    display: block;
    color: white;
    letter-spacing: .006em;
    animation: hue 10s;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
    text-shadow: none;
    font-family: NTR, sans-serif;
    margin-top: -.6em;
    font-weight: 100;
    /*		0 -0.08em 0  #cfcfcf;*/
}

/* Animatie letter S after */
@keyframes hue {
    0% {
        background-image: linear-gradient(45deg,
                #ff3333,
                #ffb833,
                #1df553,
                #1deef5,
                #1d77f5,
                #ff3333,
                #ffb833,
                #1df553,
                #1deef5,
                #1d77f5,
                #ff3333,
                #ffb833,
                #1df553);
        background-size: 200% 200%;
        color: transparent;
        -webkit-background-clip: text;
    }

    20% {
        background-image: linear-gradient(45deg,
                #ff3333,
                #ffb833,
                #1df553,
                #1deef5,
                #1d77f5,
                #ff3333,
                #ffb833,
                #1df553,
                #1deef5,
                #1d77f5,
                #ff3333,
                #ffb833,
                #1df553);
        background-size: 80% 100%;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
    }

    100% {
        text-shadow: 0 0 0.0 white, 0 0 0.4em white, 0 0 0.8em white;
    }
}

/* Letters gaan weer uit, maar kleuren op achtergrond blijven */
@keyframes uit {

    from {
        color: none;
    }

    to {
        color: white;
    }
}

/* Vormgeving slider oude versie */
/*
.slider {
    -webkit-appearance: none;
    width: 12em;
    height: 1.4em;
    background-image: linear-gradient(89deg,
            grey 40%,
            white 80%);
    border: solid 2px white;
    border-radius: .7em;
}
*/

/*Vormgeving slider knop*/
/*
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    transition: .5s;
}
*/

/*Vormgeving slider knop ingedrukt*/
/*
.slider::-webkit-slider-thumb:active {
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    background-color: #0081C4;
}
*/


/* Vormgeving slider nieuwe versie */
.slider {
    -webkit-appearance: none;
    width: 20vw;
    height: 2.5vw;
    background-image: linear-gradient(89deg,
            grey 40%,
            white 80%);
    border: solid 2px white;
    border-radius: 4vw;
}

/* Vormgeving slider knop */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5vw;
    height: 5vw;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    transition: .5s;
}

/* Vormgeving slider knop ingedrukt */
.slider::-webkit-slider-thumb:active {
    -webkit-appearance: none;
    width: 6vw;
    height: 6vw;
    background-color: #0081C4;
}
