/* CSS Document */

/* FONTS */
@font-face {
    font-family: 'eenfont';
    src: url('../fonts/eenfont.woff2') format('woff2'),
        url('../fonts/eenfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* ALGEMENE STYLING */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: black;
    font-weight: bold;
    color: #111;
    text-align: center;
    background-color: var(--kleurAchtergrondBody);
}

:root {
    --kleurChocopasta: #491D0E;
    --kleurZwart: #000000;
    --kleurRood: #DE2619;
    --kleurAchtergrond: #ededed;
    --kleurAchtergrondPhilips: #1c1c1c;
    --kleurWit: #fcfcfc;
    --width: 89vh;
    --height: 79vh;
    --max-width: 85vw;
    --max-height: 79vw;
    --kleurAchtergrondBody: #ababab;
}

@media (prefers-color-scheme:dark) {
    :root {
        --kleurAchtergrondBody: #333333;
        --kleurWit: #dbdbdb;
    }
}

h1 {
    margin: 1em;
    font-family: arial;
    font-weight: 900;
    color: var(--kleurWit);
}

section:first-of-type {
    transform: translateX(-50%);
    width: var(--width);
    height: var(--height);
    max-width: var(--max-width);
    max-height: var(--max-height);
    margin-left: 50%;
    font-size: min(4vw, 1.9em);
    background-image: linear-gradient(var(--kleurWit) 50%, #ffef91 30em);
    position: relative;
}

section:last-of-type {
    transform: translateX(-50%);
    width: var(--width);
    width: var(--width);
    height: var(--height);
    max-width: var(--max-width);
    max-height: var(--max-height);
    margin-left: 50%;
    margin-top: 9vw;
    margin-bottom: 6vw;
    background: var(--kleurAchtergrondPhilips);
    font-size: min(3vw, 1.5em);
    position: relative;
}







/* BRAND STYLING 1 */

/*H2 section 1*/
body section:nth-of-type(1) h2:nth-of-type(1) {
    font-family: 'heebo', sans-serif;
    letter-spacing: -.04em;
    font-size: 3em;
}

/*Letter N*/
body section:nth-of-type(1) h2 span:nth-of-type(1) {
    color: var(--kleurZwart);
    animation: letterNutellaA 3s 1 alternate, LetterMetChocopastaZwart 7s;
    animation-timing-function: cubic-bezier(0.05, 10, 10, 10);
    display: inline-block;
}

/*Animatie letters vallen (behalve A)*/
/*
@keyframes letterNutella {

    0% {
        transform: translatey(0);
        animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }

    50% {
        transform: translatey(5em);
        animation-timing-function: cubic-bezier(0.895, 0.030, 0.785, 0.220);
    }

    65% {
        transform: translatey(5em);
        animation-timing-function: cubic-bezier(0.895, 0.030, 0.785, 0.220);
    }

    100% {
        transform: translatey(0em) scale(1, 5);
    }
}
*/

/*Animatie zwarte letter deel met chocopasta*/
@keyframes LetterMetChocopastaZwart {
    0% {
        background-image: none;
    }

    10% {
        background-image:
            linear-gradient(180deg,
                black 45% 0%,
                #491D0E 40% 67%);
        background-size: 100% 100%;
        background-clip: text;
        color: black;
        -webkit-background-clip: text;
    }

    100% {
        background-image:
            linear-gradient(180deg,
                black 45% 0%,
                #491D0E 40% 67%);
        background-size: 100% 100%;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
    }
}

/*De chocopasta beneden vierkant*/
body section div#chocopasta {
    position: absolute;
    width: 100%;
    height: 14%;
    /*    max-width: 100%;*/
    /*    max-height: 79%;*/
    top: 86%;
    z-index: 100;
    background-color: var(--kleurChocopasta);
    /*    left: 0;*/
}

/*De chocopasta beneden om 3D te maken*/
#chocopasta2 {
    clip-path: polygon(10% 68%, 10% 68%, 19% 66%, 32% 75%, 45% 69%, 56% 69%, 66% 66%, 79% 75%, 89% 70%, 92% 74%, 100% 99%, -1% 100%);
    background-color: #593125;
    position: absolute;
    width: 100%;
    height: 16%;
    top: 70.4%;
    z-index: -1;
}

/*Letter U*/
body section:nth-of-type(1) h2 span:nth-of-type(2) {
    color: var(--kleurRood);
    animation: letterNutellaA 3s 1, LetterMetChocopastaRood 7s;
    animation-timing-function: cubic-bezier(0.05, 0, 0, 1);
    display: inline-block;
    margin-top: 0.5em;
    animation-delay: 1s
}

/*Animatie rode letters deel met chocopasta*/
@keyframes LetterMetChocopastaRood {
    0% {
        background-image: none;
    }

    10% {
        background-image:
            linear-gradient(180deg,
                #DE2619 45% 0%,
                #491D0E 40% 67%);
        background-size: 100% 100%;
        background-clip: text;
        color: #DE2619;
        -webkit-background-clip: text;
    }

    100% {
        background-image:
            linear-gradient(180deg,
                #DE2619 45% 0%,
                #491D0E 40% 67%);
        background-size: 100% 100%;
        -webkit-background-clip: text;
        color: transparent;
    }
}

/*Letter T*/
body section:nth-of-type(1) h2 span:nth-of-type(3) {
    color: var(--kleurRood);
    animation: letterNutellaA 3s 1, LetterMetChocopastaRood 7s;
    animation-timing-function: cubic-bezier(0.05, 0, 0, 1);
    display: inline-block;
    margin-top: 0.5em;
    animation-delay: 2s;
}

/*Letter E*/
body section:nth-of-type(1) h2 span:nth-of-type(4) {
    color: var(--kleurRood);
    animation: letterNutellaA 3s 1, LetterMetChocopastaRood 7s;
    animation-timing-function: cubic-bezier(0.05, 0, 0, 1);
    display: inline-block;
    margin-top: 0.5em;
    animation-delay: 3s
}

/*Letter L*/
body section:nth-of-type(1) h2 span:nth-of-type(5) {
    color: var(--kleurRood);
    animation: letterNutellaA 3s 1, LetterMetChocopastaRood 7s;
    animation-timing-function: cubic-bezier(0.09, 0, 0, 1);
    display: inline-block;
    margin-top: 0.5em;
    animation-delay: 4s
}

/*Letter tweede L */
body section:nth-of-type(1) h2 span:nth-of-type(6) {
    color: var(--kleurRood);
    animation: letterNutellaA 3s 1, LetterMetChocopastaRood 7s;
    animation-timing-function: cubic-bezier(0.05, 0, 0, 1);
    display: inline-block;
    margin-top: 0.5em;
    animation-delay: 5s
}

/*Letter A*/
body section:nth-of-type(1) h2 span:nth-of-type(7) {
    color: var(--kleurRood);
    animation: letterNutellaA 4s 1, LetterMetChocopastaRood 7s;
    animation-timing-function: cubic-bezier(0.05, 0, 0, 1);
    display: inline-block;
    margin-top: 0.5em;
    animation-delay: 6s;
    position: relative;
}

/*Animatie letters vallen*/
@keyframes letterNutellaA {

    0% {
        transform: translatey(0);
        animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }

    30% {
        transform: translatey(4.1em);
        animation-timing-function: cubic-bezier(0.895, 0.030, 0.785, 0.220);
    }

    90% {
        transform: translatey(0em) scale(1, 2.5);
    }

    100% {
        transform: translatey(0em) scale(1, 1);
    }
}


/*Letter A after*/
/*
body section:nth-of-type(1) h2 span:nth-of-type(7)::after {
    content: "";
    position: absolute;
    background-color: var(--kleurChocopasta);
    animation: a 15s infinite forwards;
    border-radius: 58% 67% 45% 26% / 62% 59% 63% 37%;
    left: 75%;
    top: 19%;
    animation-delay: 15s;
}
/*


/*Animatie letter A after*/
/*
@keyframes a {
    0% {
        border-radius: none;
        left: 75%;
        width: 0px;
        height: 0px;
    }

    20% {
        border-radius: 88% 26% 45% 70% / 82% 39% 63% 37%;
        width: 30px;
        height: 30px;
        left: 75%;
    }

    40% {
        border-radius: 69% 55% 55% 69% / 100% 47% 50% 52%;
        width: 30px;
        height: 40px;
        left: 75%;
    }

    60% {
        border-radius: 86% 97% 100% 56% / 100% 94% 58% 100%;
        width: 30px;
        height: 200px;
        left: 75%;

    }

    80% {
        border-radius: 98% 96% 100% 85% / 100% 54% 99% 43%;
        left: 75%;
        width: 30px;
        height: 40px;

    }

    100% {
        border-radius: none;
        left: 75%;
        width: 30px;
        height: 35px;
    }
}
*/

body section:nth-of-type(1) h2 span:nth-of-type(7)::after {
    /*    clip-path: polygon(90% 30%, 71% 26%, 31% 18%, 22% 28%, 8% 32%, 35% 48%, 46% 73%, 40% 83%, 38% 93%, 50% 92%, 63% 51%, 68% 40%, 84% 44%, 91% 39%);*/
    content: "";
    position: absolute;
    background-color: var(--kleurChocopasta);
    animation: a 20s infinite alternate;
    animation-delay: 7s;
    left: -.17em;
    top: .6em;
}

@keyframes a {
    0% {
        clip-path: polygon(90% 30%, 71% 26%, 31% 18%, 22% 28%, 8% 32%, 35% 48%, 46% 73%, 40% 83%, 38% 93%, 50% 92%, 63% 51%, 68% 40%, 84% 44%, 91% 39%);
        width: .9em;
        height: 1.3em;
        top: .6em;
    }

    50% {
        clip-path: polygon(90% 30%, 71% 26%, 31% 18%, 22% 28%, 8% 32%, 15% 48%, 54% 66%, 67% 81%, 76% 83%, 75% 73%, 63% 57%, 68% 40%, 84% 44%, 91% 39%);
        width: 1.4m;
        height: 1.3em;
        top: .6em;
    }

    100% {
        clip-path: polygon(90% 30%, 71% 26%, 31% 18%, 22% 28%, 8% 32%, 62% 60%, 57% 76%, 53% 93%, 70% 97%, 86% 87%, 78% 62%, 77% 47%, 84% 44%, 88% 46%);
        width: .9em;
        height: 1.3em;
        top: .6em;
    }
}






/* BRAND STYLING 2 */

/*H2 section 2*/
body section:nth-of-type(2) h2:nth-of-type(1) {
    font-family: 'heebo', sans-serif;
    letter-spacing: -.1em;
    font-size: 5em;
}

/*Letter P*/
body section:nth-of-type(2) h2 span:nth-of-type(1) {
    color: var(--kleurWit);
    display: inline-block;
    margin-top: 0.5em;
    animation: p 2s;
    animation-fill-mode: forwards;
    /*        text-shadow: 0 -0.08em 0 #cfcfcf;*/
}

/*Animatie letter P*/
@keyframes p {

    0% {
        color: white;
    }

    50% {
        color: #0081C4;
        text-shadow: 0 0 0 #0081C4, 0 0 0.1em #0081C4, 0 0 0.5em #0081C4;
        transform: scale(1.3, 1.3);
    }

    75% {
        text-shadow: 0 0 0 #0081C4, 0 0 0.9em #0081C4, 0 0 0.5em #0081C4;
    }

    100% {
        color: #0081C4;
        text-shadow: 0 0 0 #0081C4, 0 0 0.4em #0081C4, 0 0 0.5em #0081C4;
    }
}



/*Letter H*/
body section:nth-of-type(2) h2 span:nth-of-type(2) {
    color: var(--kleurWit);
    display: inline-block;
    margin-top: 0.5em;
    animation: h 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    text-shadow:
        /*        0 -0.08em 0 #cfcfcf;*/
}

/*Animatie Letter H*/
@keyframes h {

    0% {
        color: white;
    }

    100% {
        color: #F7E834;
        text-shadow: 0 0 0 #F7E834, 0 0 0.4em #F7E834, 0 0 0.5em #F7E834;
    }
}


/*Letter I*/
body section:nth-of-type(2) h2 span:nth-of-type(3) {
    color: var(--kleurWit);
    display: inline-block;
    margin-top: 0.5em;
    animation: i 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.3s;
    text-shadow:
        /*        0 -0.08em 0 #cfcfcf;*/
}

/*Animatie letter I*/
@keyframes i {

    0% {
        color: white;
    }

    100% {
        color: #00EF61;
        text-shadow: 0 0 0 #00EF61, 0 0 0.4em #00EF61, 0 0 0.5em #00EF61;
    }
}

/*Letter L*/
body section:nth-of-type(2) h2 span:nth-of-type(4) {
    color: var(--kleurWit);
    display: inline-block;
    margin-top: 0.5em;
    animation: l 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.6s;
    text-shadow:
        /*        0 -0.08em 0  #cfcfcf;*/
}

/*Animatie letter L*/
@keyframes l {

    0% {
        color: white;
    }

    100% {
        color: #B2029D;
        text-shadow: 0 0 0 #B2029D, 0 0 0.4em #B2029D, 0 0 0.5em #B2029D;
    }
}

/*Letter tweede I*/
body section:nth-of-type(2) h2 span:nth-of-type(5) {
    color: var(--kleurWit);
    display: inline-block;
    margin-top: 0.5em;
    animation: i2 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.9s;
    text-shadow:
        /*        0 -0.08em 0 #cfcfcf;*/
}

/*Animatie letter tweede I*/
@keyframes i2 {

    0% {
        color: white;
    }

    100% {
        color: #FF1A30;
        text-shadow: 0 0 0 #FF1A30, 0 0 0.4em #FF1A30, 0 0 0.5em #FF1A30;
    }
}

/*Letter tweede P*/
body section:nth-of-type(2) h2 span:nth-of-type(6) {
    color: var(--kleurWit);
    display: inline-block;
    margin-top: 0.5em;
    animation: p2 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.2s;
    text-shadow:
        /*		0 -0.08em 0 #cfcfcf;*/
}

/*Animatie letter tweede P*/
@keyframes p2 {

    0% {
        color: white;
    }

    100% {
        color: #FF941F;
        text-shadow: 0 0 0 #FF941F, 0 0 0.4em #FF941F, 0 0 0.5em #FF941F;
    }
}

/* letter S*/
body section:nth-of-type(2) h2 span:nth-of-type(7) {
    color: var(--kleurWit);
    margin-top: 0.5em;
    animation: s 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
    text-shadow:
        /*		0 -0.08em 0  #cfcfcf;*/
}

/*Animatie letter S*/
@keyframes s {

    0% {
        color: white;
    }

    100% {
        color: #FF43E4;
        text-shadow: 0 0 0 #FF43E4, 0 0 0.4em #FF43E4, 0 0 0.5em #FF43E4;
    }
}

/* letter S after*/
body section:nth-of-type(2) h2 span:nth-of-type(7)::after {
    content: "hue";
    display: block;
    color: white;
    letter-spacing: .006em;
    animation: hue 10s;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
    text-shadow: none;
    font-family: NTR, sans-serif;
    margin-top: -.6em;
    font-weight: 100;

    /*		0 -0.08em 0  #cfcfcf;*/
}

/* Animatie letter S after*/
@keyframes hue {
    0% {
        background-image: linear-gradient(45deg,
                #ff3333,
                #ffb833,
                #1df553,
                #1deef5,
                #1d77f5,
                #ff3333,
                #ffb833,
                #1df553,
                #1deef5,
                #1d77f5,
                #ff3333,
                #ffb833,
                #1df553);
        background-size: 200% 200%;
        color: transparent;
        -webkit-background-clip: text;
    }

    20% {
        background-image: linear-gradient(45deg,
                #ff3333,
                #ffb833,
                #1df553,
                #1deef5,
                #1d77f5,
                #ff3333,
                #ffb833,
                #1df553,
                #1deef5,
                #1d77f5,
                #ff3333,
                #ffb833,
                #1df553);
        background-size: 80% 100%;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
    }

    100% {
        text-shadow: 0 0 0.0 white, 0 0 0.4em white, 0 0 0.8em white;
    }
}

/*Vormgeving slider*/
.slider {
    -webkit-appearance: none;
    width: 12em;
    height: 1.4em;
    background-image: linear-gradient(89deg,
            grey 40%,
            white 80%);
    border: solid 2px white;
    border-radius: .7em;
}

/*Vormgeving slider knop*/
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    transition: .5s;
}

/*Vormgeving slider knop ingedrukt*/
.slider::-webkit-slider-thumb:active {
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    background-color: #0081C4;
}
